@import "ticket.scss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "variables";
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 110%;
  letter-spacing: -1px;
}

.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

body {
  font-family: $inconsolata;
  background: url("./images/pattern-lines.svg"),
    url("./images/pattern-circle.svg"), url("./images/pattern-circle.svg"),
    url("./images/pattern-squiggly-line-top.svg"),
    url("./images/pattern-squiggly-line-bottom.svg"),
    url("./images/background-mobile.png");

  background-repeat: no-repeat;
  background-position: 0, -30px -30px, 110% 50%, 100% 24px, bottom left;
  background-size: cover, 100px, 100px, 100px, 300px, cover;
  // background-attachment: fixed;
  margin: 0;
  padding: 2rem 1rem;
  padding-bottom: 114px;
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 2.5rem;
  h1 {
    font-size: 30px;
  }

  p {
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 1.25rem;
  }
}

#image-drop {
  width: 100%;
  height: 126px;
  border-radius: 1rem;
  border: 2px dashed $neutral-500;
  margin-top: 1rem;
  background-color: rgba($neutral-500, 0.2);
  backdrop-filter: blur(5px);
  padding: 0.75rem 1rem;

  .drop--label {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
  }
}

.info--wrapper {
  font-size: 12px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: -0.2px;
}

.error {
  #info--text {
    color: $orange-700;
  }

  .error--red {
    stroke: $orange-700;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

input {
  font-size: 18px;
  width: 100%;
  background-color: $transparent-white;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid $neutral-300;
  color: $neutral-0;

  &::placeholder {
    color: $neutral-300;
    font-family: $inconsolata;
  }
}

.info--wrapper {
  display: none;
}

#image--upload--label {
  display: flex;
}

input:user-invalid {
  border: 1px solid $orange-700;

  & + .info--wrapper {
    display: flex;
    #info--text {
      color: $orange-700;
    }

    .error--red {
      stroke: $orange-700;
    }
  }

  & + .error--text {
    display: block;
  }
}

.error--text {
  margin-top: 0.5rem;
  color: $orange-700;
  display: none;
}

button {
  background-color: $orange-500;
  width: 54px;
  padding: 17px 0;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: $inconsolata;
  border-radius: 12px;
  border: none;
}

#imagePreview {
  width: 100%;
  height: 100%;
}

.preview--container {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid $neutral-700;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.1);
  overflow: hidden;
}

// .file--upload {
// width: 0;
// height: 0;
// position: absolute;
// opacity: 0;
// }

// .avatar--input {
//   opacity: 0;
//   width: 0;
//   height: 0;
//   position: absolute;
// }

.active--image--btns {
  display: none;
  gap: 0.5rem;
  max-width: 80%;
  margin: 10px auto;

  button {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(white, 0.1);
    color: white;
    font-size: 16px;
    display: block;

    &:first-child {
      text-decoration: underline;
    }
  }
}
